 <!-- 头部 -->
	{include file='public/header'}
<!-- 头部 --> 

<div class="content">
				<div class="tips_msg none"><span class="tips">保存成功</span><span class="close_tips"></span></div>
				<div class="edit_title">{$meta_title|default=""}</div>
				<div class="edit_box">
					<div class="edit_tab">
						<div class="tab_option on">基础</div>
						<div class="tab_option">高级</div>
					</div>
					<div class="edit_content">
						 <form class="group-form"  action="{:url('')}" method="post">
						     <div class="edit_content_tab">

							        <div class="form-item">
									  <label>名称<span>(标题)</span></label>
									  <div class="form-input">
									      <input type="text" name="title" value="{$info.title|default=""}">
									   </div>
								  </div>
                                   
								 

								     <div class="form-item">
									     <label>上级分类<span>(所属分类)</span></label>
									      <div class="form-input">
											  <select name="pid" >
											  <option value="0">顶级分类</option>    
											  {volist name="list" id="vo"}
												<option value="{$vo.id}">{$vo.html|default=""}{$vo.title}</option>
											  {/volist}
											 </select>
										  </div> 
								     </div> 
									 <div class="form-item">
									     <label>左侧菜单是否显示<span>(1-不显示2-显示)</span></label>
									    <div class="form-input">
											<select name="display">
											 <option value="1">显示</option>
											 <option value="0">不显示</option>
											</select>
										</div>
								     </div>
									
									  <div class="form-item">
									     <label>绑定商品类型<span>(绑定商品类型)</span></label>
									     <div class="form-input">
											 <select name="types_id" >
												{volist name="typelist" id="vo"}
												 <option value="{$vo.id}">{$vo.title}</option>
												  {/volist} 
												  <option value="0">无</option>
											 </select>
										 </div> 
								     </div>
                                 
									 <div class="form-item">
									       <label>状态<span>(0-禁用，1-正常)</span></label>
										   <div class="form-input">
									       <input type="text"name="status" value="{$info.status|default="1"}"/>
										   </div>
								     </div>
									 
									 <div class="form-item">
									     <label>首页楼层是否显示<span>(1-不显示2-显示)</span></label>
									    <div class="form-input">
											<select name="type">
											 <option value="1">显示</option>
											 <option value="0">不显示</option>
											</select>
										</div>
								     </div>

									
									   <div class="form-item">
									        <label>分类图片<span>(封面图片,468*1236)</span></label> 
										    <div id="cover_id" class="container">
								                <div id="file_cover_id">你的浏览器不支持flash,Silverlight或者HTML5！</div>
											    <input type="hidden" name="cover_id"  value="{$info.cover_id|default=""}">
												<a id="select_cover_id" href="javascript:void(0);" class='btn'>选择文件</a>
												<a id="post_cover_id" href="javascript:void(0);" class='btn'>开始上传</a>
											</div>
	
									       <div class="uploader_preview">
									            {notempty name="info['cover_id']"}
							                      <div class="uploader-pre-item"> <img src="{$info.cover_id|get_cover_path}"/>
						                         </div>
										       {/notempty}
									        </div>

											<script type="text/javascript">  
												var field="cover_id";
												upload(field);
											</script>	
                                  </div>
							  	
						       </div>
				               <div class="edit_content_tab none">
						            <div class="form-item">
									      <label>排序<span>(越小越靠前)</span></label>
										  <div class="form-input">
									      <input type="text" name="sort" value="{$info.sort|default=""}"/>
										  </div>
								     </div>
									   <div class="form-item">
									    <label>后台新增模板<span>(标题)</span></label>
									    <div class="form-input">
									         <input type="text" name="template_add" value="{$info.template_add|default="goods/add"}">
									    </div>
								  </div> 
								  
								  <div class="form-item">
									    <label>后台编辑模板<span>(标题)</span></label>
									    <div class="form-input">
									         <input type="text" name="template_edit" value="{$info.template_edit|default="goods/edit"}">
									    </div>
								  </div> 
								  
								  <div class="form-item">
									    <label>前台列表模板<span>(标题)</span></label>
									    <div class="form-input">
									         <input type="text" name="template_lists" value="{$info.template_lists|default="goods/lists"}">
									    </div>
								  </div>   
								  
								  <div class="form-item">
									    <label>前台详情模板<span>(标题)</span></label>
									    <div class="form-input">
									         <input type="text" name="template_detail" value="{$info.template_detail|default="goods/detail"}">
									    </div>
								  </div>
									 <div class="form-item">
									       <label>列数<span>(列表页显示的文章数量)</span></label> 
										   <div class="form-input">
									       <input type="text" name="list_row"  value="{$info.list_row|default=""}"/>
										   </div>
								     </div>
									
							
						</div>
						<div class="btn_group">
						    <input type="hidden" name="id" value="{$info.id|default=""}">
							<div class="confirm_btn">确认</div>
							<div class="cancel_btn">返回</div>
						</div>
						</form> 
					</div>
				</div>
			</div>
		</div>

     
    <script type="text/javascript">
      $("select[name='pid']").val("{$info.pid|default='0'}");
	  $("select[name='types_id']").val("{$info.types_id|default='40'}"); 
	  $("select[name='type']").val("{$info.type|default='2'}");   
	  $("select[name='display']").val("{$info.display|default='1'}"); 
	  $("select[name='template_edit']").val("{$info.template_edit|default='goods/edit'}");
    </script>
 <script src="__JS__/edit.js"></script>
<!-- 尾部 -->
	{include file='public/footer'}
    <!-- 尾部 --> 
