
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1  maximum-scale=1 user-scalable=no">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="HandheldFriendly" content="True">
		<title>微商城</title>

		<link rel="stylesheet" href="__CSS__/style.css">
		<script type="text/javascript" src="__JS__/jquery-1.10.1.min.js"></script>

	</head>

	<body>
		<!--头部-->
		<div class="top_con01">
			<div class="fh_icon">
				<a onClick="javascript :history.go(-1);"></a>
			</div>
	
			<h1>商品兑换</h1>
		</div>
		<div class="sc_con11">
			<div class="sc_con11_img"><img src="{$info.cover_id|get_cover='path'}"/></div>
			<div class="sc_con11_text">{$info.title}</div>
			<div class="sc_con11_pri fl">{$info.score|default=''}<span>积分</span></div>
			<div class="sc_con11_pri01 fl">{$info.price|default=''}</div>
			<div class="sc_con11_pri02 fr">运费：包邮</div>
			<div class="clearfix"></div>
		</div><form class="search-form" id="fp_form"action="{:url('save')}" >
		<div class="sc_con12">
			<div class="sc_con12_t fl">兑换数量</div>
			<div class="cart_con01_num fr">
									<div class="cart_con01_nl fl" onclick="decNum()">-</div>
									<div class="cart_con01_nm fl"><input type="text"class="num" name="num"  value="1" placeholder="1"></div>
									<div class="cart_con01_nr fl" onclick="incNum()">+</div>
								</div>
								<div class="clearfix"></div>
		</div>
		
		<!--内容-->
		<div class="ddqr_con01">
        <div class="ddqr_con04 ddqr_con05">
		<div class="ddqr_ad" id="s_ps03" style="display:block"></div>
		<div class="ddqr_ad01" id="h_ps03" style="display:none"></div>
		<div class="ddqr_con02_t">收件信息<span style="color: #999;background: none;">请填写收件信息</span></div>
		<div class="ddqr_con04_text ddqr_ic04">
		<div class="ddqr_con04_input"style="display:block">
		<div class="sc_con13_t">
			<ul>
				<li>
					<span>收货人：</span><input type="text" name="username" placeholder="令狐冲" />
				</li>
				<li>
					<span>手机号：</span><input type="text" name="mobile" placeholder="15932780789" />
				</li>
				<li>
					<span>详细地址：</span><input type="text" name="address" placeholder="湖北省武汉市武昌区武珞路332号" />
				</li>
			</ul>
		</div>
		</div>
		</div>
		</div>
		<div class="ddqr_con02">
		<div class="ddqr_ad" id="s_ps" style="display:block"></div>
		<div class="ddqr_ad01" id="h_ps" style="display:none"></div>
		<div class="ddqr_con02_t">快递公司<span style="color: #999;background: none;">请选择快递公司</span></div>
		<div class="ddqr_con02_m ddqr_ic01"style="display:block">
		<ul>
		 <li><label class="radio">
                <input type="radio" name="express" value="顺丰速递">
                <i class="icon-radio"></i>
            </label>顺丰速递[￥0.00元]</li>
		<li><label class="radio">
                <input type="radio" name="express" value="申通速递">
                <i class="icon-radio"></i>
            </label>申通速递[￥0.00元]</li>
		<li><label class="radio">
                <input type="radio" name="express" value="邮政EMS">
                <i class="icon-radio"></i>
            </label>邮政EMS[￥0.00元]</li>
		</ul>
		</div>
		</div>
	 <input type="hidden" name="id" value="{$info.id|default=""}">
		<div class="sc_con14">
			<div class="sc_con14_t">商品详情</div>
			<div class="sc_con14_text">商品名称：{$info.title} </div>
		</div>
		</form>
		
		<div class="grzl_con01_btn"><a onclick="orderSubmit()">立即兑换</a></div>
		</div>
		<script type="text/javascript">
			function orderSubmit(){ 
			if( !$('input[name="express"]:checked').val()){
			  alert("请选择配送方式");return false;
		    }	
		  
		     var save_url = "{:U('score/save')}";
			 var self = $("#fp_form");
				$.post(save_url,self.serialize(),function(data){   
					 if(data.code){ 
						   alert(data.msg);
						  
					}
					 else{
					    alert(data.msg);if(data.url){
						  window.location.href =data.url;
						  }
					 }
                });
	       
	}
		function  decNum(){
         var cur_num = $('.num').val();
		       if(cur_num <= 1){
					$('.num').val(1);
				}else{
					cur_num--;
					$('.num').val(cur_num);
				}
        
	 
		
     }

	  function  incNum(){
               var cur_num = $('.num').val();
		       if(cur_num >= 99){
					$('.num').val(99);
				}else{
					cur_num++;
					$('.num').val(cur_num);
				}
        
	 
		
     }	
			$(document).ready(function() {

				$("#s_ser").click(function() {
					$(".bot_nav01").show();
					$(".bot_nav02").show();
				});
				$("#h_ser").click(function() {
					$(".bot_nav01").hide();
					$(".bot_nav02").hide();
				});
				$("#h_ps").click(function() {
					$(".ddqr_ic01").show();
					$("#s_ps").show();
					$("#h_ps").hide();
				});
				$("#s_ps").click(function() {
					$(".ddqr_ic01").hide();
					$("#h_ps").show();
					$("#s_ps").hide();
				});
				$("#h_ps01").click(function() {
					$(".ddqr_ic02").show();
					$("#s_ps01").show();
					$("#h_ps01").hide();
				});
				$("#s_ps01").click(function() {
					$(".ddqr_ic02").hide();
					$("#h_ps01").show();
					$("#s_ps01").hide();
				});
				$("#h_ps02").click(function() {
					$(".ddqr_ic03").show();
					$("#s_ps02").show();
					$(".ddqr_ic03 .ddqr_con04_text h1").show();
					$(".ddqr_ic03 .ddqr_con04_input").show();
					$("#h_ps02").hide();
				});
				$("#s_ps02").click(function() {
					$(".ddqr_ic03").hide();
					$("#h_ps02").show();
					$("#s_ps02").hide();
					$(".ddqr_con04_text h1").hide();
				});
				$("#h_ps03").click(function() {
					$(".ddqr_ic04 .ddqr_con04_input").show();
					$("#s_ps03").show();
					$("#h_ps03").hide();
				});
				$("#s_ps03").click(function() {
					$(".ddqr_ic04 .ddqr_con04_input").hide();
					$("#h_ps03").show();
					$("#s_ps03").hide();
				});
			
			});
		</script>
	</body>

</html>