<!DOCTYPE html>
<html lang="zh-CN">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>找回密码</title>
   <link rel="stylesheet" href="__CSS__/style.css">
		<script type="text/javascript" src="__JS__/jquery-1.10.1.min.js"></script>
</head>
<body>
	<!--头部-->
		<div class="top_con01">
			<div class="fh_icon"><a href="#"></a></div>
			<div class="yc_icon yc_icon01"><a href="{:url('index/index')}"></a></div>
			<h1>找回密码</h1>
		</div>
	<!--内容-->
		<div class="login_con02 login_con03"><form method="post" action="{:url('')}" name="frm_login" id="frm_login">
		<div class="login_con03_t">您可通过 电子邮件 重置密码</div>
			<div class="login_input">用户名：<input type="text" name="username" placeholder="请输入用户名"/></div>
			<div class="login_input">电子邮箱：<input type="text" name="email" placeholder="请输入电子邮箱"/></div>
		
			<div class="grzl_con01_btn"><a onclick="submit()">提交</a></div>
	
		</form>	
		  </div>
		<div class="login_con02" style="display:none;">
			<div class="login_con02_t"><span>使用合作账户登录</span></div>
		</div>


<script type="text/javascript"> 

function submit(){		
	
			$('form').submit();
    	
  
	}


</script>  </body>
</html>