<!-- 头部 -->
	{include file='public/header'/}
<!-- 头部 --> 
	<!--crumb start-->
	<div class="crumb w100">
		<div class="crumb_in in_width">
			<p><a href="{:url('index')}" class="index_a">首页</a> ><span>我的订单</span></p>
		</div>
	</div>
	<!--/crumb end-->	
	<!--main start-->
	<div class="main w100 grzx_main">
		<div class="main_in in_width grzx_main_in">
			<div class="main_top">
		{include file='public/left'/}
		<div class="grzx_right_pan fr">
				<h3 class="cr_h3">我的拼团</h3>
			
				<div class="wddd_right_pan fr" style="margin-top:10px;">
					<div class="top_tab">
						<ul class="fl f14">
							<li  {empty name="info['status']"}class="current"{/empty}>
								<a href="{:U('index?status=0')}">所有订单<span></span></a>
							</li>

							<li {notempty name="info['status']"}{if condition="$info.status eq 1"}class="current"{/if}{/notempty}>
								<a href="{:U('index?status=1')}">待发货<span></span></a>
							</li>
							<li {notempty name="info['status']"}{if condition="$info.status eq 2"}class="current"{/if}{/notempty}>
								<a href="{:U('index?status=2')}">待收货<span></span></a>
							</li>
							<li {notempty name="info['status']"}{if condition="$info.status eq 3"}class="current"{/if}{/notempty}>
								<a href="{:U('index?status=3')}">已确认<span></span></a>
							</li>
						</ul>
						<div class="hsz fr f12">
							
						</div>
					</div>
					<div class="tab_con">
                        <form action="{:U('')}" method="post" class="order_sn">
						    <input type="hidden" name="order_sn" class="order_sn"/>
						</form>
						<form action="{:U('')}" method="post">
							<!--div class="sear">
								<div class="sear_ipt fl">
									<input type="text"name="order_sn" placeholder="输入订单号进行搜索" id="order_sn" class="ipt_01 fl"/>
									<input type="button" class="ipt_02 fl" onclick="submitfrm();" value="订单搜索"/>
								</div>
								<div class="more fl">
									<span class="txt">更多筛选条件</span>
									<span class="icon"><img src="__IMG__/wddd_icon_01.gif"></span>
								</div>
							</div-->
							<div class="sc_xl f12">
									<div class="div_03 fl">
									<label for="">订单号</label>
									<input type="text" name="order_sn"/>
								</div>
								<div class="div_02 fl">
									<label for="">成交时间</label>
									<input type="input" name="start_time" class="laydate-icon time_start" value="{$info.start_time|default=''}" id="start_time"/>
									<span>-</span>
									<input type="input"  name="end_time" value="{$info.end_time|default=''}"class="laydate-icon time_end"  id="end_time"/>
								</div>
							    <div class="div_03 fl">
									<label for="">收件人</label>
									<input type="text" name="username"/>
								</div>
								<div class="div_03 fl">
									<label for="">手机</label>
									<input type="text" name="mobile"/>
								</div>
								<div class="div_03 fl">
									<label for="">收件地址</label>
									<input type="text" name="address"/>
								</div>
								
								
								
								<button class="sc_btn fl"type="submit">搜索</button>
							</div>
						</form>
				
						<table class="bought_table f12">
							<tbody>
								<tr>
									<th class="th_01">宝贝</th>
									<th class="th_02">单价</th>
									<th class="th_03">数量</th>
									<th class="th_04">商品操作</th>
									<th class="th_05">实付款</th>
									<th class="th_06">
										<div class="field_select">
											<div class="zt"><span class="txt">交易状态</span><span class="icon"><img src="__IMG__/wddd_icon_03.gif"></span></div>
											<ul class="down_list">
												<li class="current"><a href="javascript:;">交易状态</a></li>
												<li><a href="javascript:;">交易状态</a></li>
												<li><a href="javascript:;">交易状态</a></li>
											</ul>
										</div>
									</th>
									<th class="th_07">交易操作</th>
								</tr>
							</tbody>
						</table>
						{notempty name="res.list"}
						<div class="sle_all f12">
							<label for="">
								<input type="checkbox" class="check-all"/>
								<span class="date">全选</span>
								<a  onclick='confirmAll({$vo.id});' class="pl">批量确认收货</a>
							</label>
							
						</div>						
			           {volist name="res.list" id="vo"}
						<div class="bought_list f12">
							<table class="top_table">
								<tbody>
									<tr>
										<td class="td_01">
											<input type="checkbox" class="ids" value="{$vo.id}" />
											<span class="date">{$vo.create_time|date='Y-m-d H:i'}</span>
											<span class="dd_nm">订单号: {$vo.order_sn}</span>
										</td>
										<td class="td_02">
										
										</td>
										<td class="td_03">
										
										</td>
										<td class="td_05 red">
										剩余{$vo['n']}人
										</td>
									</tr>
								</tbody>
							</table>
							<table class="del_table ">
								<tbody>
									<tr>
										<td class="td_01">
											{volist name="vo['sales']" id="vo1"}
											<div class="con">
												<div class="div_01 fl">
													<a href="{:U('Goods/detail?id='.$vo1['goods_id'])}" class="pic fl"><img src="{$vo1.goods_id|get_goods_cover}" width="80" height="80"></a>
													<div class="info fl">
														<a href="{:U('Goods/detail?id='.$vo1['goods_id'])}" class="name">{$vo1.title}</a>
														<p class="color">规格：{$vo1.specifications}</p>
														
													</div>
												</div>
												<div class="div_02 fl">
													<p class="old">￥{$vo1.price}</p>
													<p class="new">￥{$vo1.price}</p>
												</div>
												<div class="div_03 fl">
													<span>{$vo1.num}</span>
												</div>
												<div class="div_04 fl">
												 {if condition="$vo1.status eq 0"}
												  无
												   {/if}
												{if condition="$vo1.status eq 1"}
												  无
												   {/if}
												    {if condition="$vo1.status eq 2"}
												  无
												   {/if}
												  {if condition="$vo1.status eq 3"}
												  <a href="{:U('service/applyreturn?id='.$vo1['id'])}" class="sh">退货</a>
												   {/if}
												   {if condition="$vo1.status eq 4"}
												  <a href="{:U('service/applyreturn?id='.$vo1['id'])}" class="sh">处理中</a>
												  {/if}
												    {if condition="$vo1.status eq 5"}
												  <a href="{:U('service/applyreturn?id='.$vo1['id'])}" class="sh">已完成</a>
												   {/if}
												
												   
												{if condition="$vo1.comment_status eq 7"}
												<a href="{:U('comment/write?id='.$vo1['id'])}" class="ts">评价</a>
												{/if}
									             {if condition="$vo1.comment_status eq 2"}已评价{/if}
										
												</div>
											</div>
											{/volist}										
										</td>										
										<td class="td_02">
											<p class="total">￥{$vo.total_money}</p>
											<p class="yf">(含运费：￥{$vo.ship_price})</p>
											{if condition="$vo.type eq 1"}<div class="phone">手机订单</div>{/if}
										</td>
										<td class="td_03">
										<a href="javascript:;" class="jycg">
										{if condition="$vo.status eq 0"}待支付{/if}
										{if condition="$vo.status eq 1"}待发货{/if}
									    {if condition="$vo.status eq 2"}已发货{/if}
										{if condition="$vo.status eq 3"}已确认{/if}
									    {if condition="$vo.status eq 4"}申请取消中{/if}
										{if condition="$vo.status eq 5"}取消订单被拒绝{/if}
									    {if condition="$vo.status eq 6"}订单已取消{/if}
										</a></br>
											<a href="{:U('pin/detail?id='.$vo['id'])}" class="ddxq">订单详情</a>
											
											
										</td>
										<td class="td_04">
										{if condition="$vo['status'] eq 0 "}<a class="btn-active" href="{:U('order/pay?id='.$vo['id'])}" >前去支付</a>{/if}
										{if condition="$vo['status'] eq 2 "}<a class="btn-active"onclick='confirmOrder({$vo.id});' >确认收货</a>
        {/if}
										
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						{/volist}
						
						 
						{else/}
						    <span style="text-align:center;width:100%;display:block;">无数据！</span>
						{/notempty}
						<div class="page_div page">
							{$res.page}
							
						</div>	
					</div>
					
						
					</div>
				</div>	
			</div>		
				
				
			</div>			
		</div>
	</div>
	<!--/main end-->	
	{include file="public/footer"/}
	  
 <script type="text/javascript" src="__JS__/laydate/laydate.js"></script>	
 <script type="text/javascript">
	$("select[name='status']").val("{$info.status|default='1'}");
	$("select[name='type']").val("{$info.type|default='0'}");
	$("select[name='pay_type']").val("{$info.pay_type|default='1'}");	
	$("select[name='is_invoice']").val("{$info.is_invoice|default='0'}");
	laydate({
		elem: '#start_time', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
	    format: 'YYYY-MM-DD hh:mm:ss', 
	    min: laydate.now(), //设定最小日期为当前日期//目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
	    event: 'focus' //响应事件。如果没有传入event，则按照默认的click
	});
   laydate({  
  
    elem: '#end_time', //目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
     format: 'YYYY-MM-DD hh:mm:ss', 
     min: laydate.now(), //设定最小日期为当前日期//目标元素。由于laydate.js封装了一个轻量级的选择器引擎，因此elem还允许你传入class、tag但必须按照这种方式 '#id .class'
     event: 'focus' //响应事件。如果没有传入event，则按照默认的click
   });

	$(".mask .alert_div .alert_close").click(function(){
		$(this).parents(".mask").addClass("none");
	});
	$(".mask .alert_div .alert_btn").click(function(){
		$(this).parents(".mask").addClass("none");
	});
	$(".tjpj").click(function(){
		  opensuccess();
	})
	
	
	function confirmOrder(id){
			var url="{:url('order/confirm')}";
		      $.post(url,{id:id},function(data){
  
					 if(data.code){  
					     opensuccess(data);
					 }
					 else{
					      openerror(data);
					 }
              });
		  
		}
	 function delOrder(id){
			 var url="{:url('order/del')}";
		      $.post(url,{id:id},function(data){
					 if(data.code){  
					     opensuccess(data);
					 }
					 else{
					      openerror(data);
					 }
              });
		  
	 }	
	 function submitfrm(){
	    var order_sn=$("input#order_sn").val();
        $("input.order_sn").val(order_sn);
		$("form.order_sn").submit();
		  
	}
	function confirmAll(id){
	  var ids=getIds();
			var url="{:url('order/confirm')}";
		      $.post(url,{id:ids},function(data){
					 if(data.code){  
					     opensuccess(data);
					 }
					 else{
					      openerror(data);
					 }
              });
		  
		}
	  function getIds(){ //取值
		    var option = $("input.ids");
		    var result=new Array();
		    option.each(function(i){
		 	     result.push($(this).val());
		   });
           return result.join(',');
        
	  }			

	$(function(){
		//tab_ul
		
		$('.grzx_main_in .wddd_right_pan .tab_con').eq(0).show();
		$('.grzx_main_in .wddd_right_pan .top_tab ul li').click(function(){
			$(this).addClass('current').siblings().removeClass('current');
			var this_index =$(this).index();				
			$('.grzx_main_in .wddd_right_pan .tab_con').eq(this_index).show().siblings('.tab_con').hide();
		});
				
		//展开更多信息
		$('.grzx_main_in .wddd_right_pan .tab_con .sear .more').click(function(){
			if($(this).children('.icon').children('img').attr('src').match('wddd_icon_01')){
				$(this).children('.icon').children('img').attr('src','__IMG__/wddd_icon_02.gif');
				$('.grzx_main_in .wddd_right_pan .tab_con .sc_xl').show();
			}else{
				$(this).children('.icon').children('img').attr('src','__IMG__/wddd_icon_01.gif');
				$('.grzx_main_in .wddd_right_pan .tab_con .sc_xl').hide();					
			}
		});
					
		//交易状态
		$('.grzx_main_in .wddd_right_pan .tab_con .bought_table .th_06 .field_select .zt').click(function(){
			if($(this).children('.icon').children('img').attr('src').match('wddd_icon_03')){
				$(this).children('.icon').children('img').attr('src','__IMG__/wddd_icon_04.gif');
				$('.grzx_main_in .wddd_right_pan .tab_con .bought_table .th_06 .field_select .down_list').show();
			}else{
				$(this).children('.icon').children('img').attr('src','__IMG__/wddd_icon_03.gif');
				$('.grzx_main_in .wddd_right_pan .tab_con .bought_table .th_06 .field_select .down_list').hide();					
			}
		});
		$('.grzx_main_in .wddd_right_pan .tab_con .bought_table .th_06 .field_select .down_list li').click(function(){
			$(this).addClass('current').siblings().removeClass('current');
		});
		//sle_all
		$('.grzx_main_in .wddd_right_pan .tab_con .sle_all .btns button').click(function(){
			$(this).addClass('current').siblings().removeClass('current');
		});	
		//sle_all_01
		$('.grzx_main_in .wddd_right_pan .tab_con .sle_all_01 .btns button').click(function(){
			$(this).addClass('current').siblings().removeClass('current');
		});	
		//page
		$('.grzx_main_in .wddd_right_pan .tab_con .page_div .con .page_ul li').click(function(){
			$(this).addClass('current').siblings().removeClass('current');
		});
		
	//全选的实现
	$(".check-all").click(function(){
		$(".ids").prop("checked", this.checked);
		
	});
	$(".ids").click(function(){
		var option = $(".ids");
		option.each(function(i){
			if(!this.checked){
				$(".check-all").prop("checked", false);
				return false;
			}else{
				$(".check-all").prop("checked", true);
			}
		});
       
	});
		
	})
	</script>
</body>
</html>
