<div class="H5"></div>
	<div class="bottom-menu order-bottom-menu">
		<a class="active"style="color:#F8515B" href="{:url('index/index')}"><i style="background-color:#F8515B" class="home"></i><p>首页</p></a>
		<a class="" href="{:url('category/index')}"><i class="category"></i><p>分类</p></a>
		<a class="" href="{:url('cart/index')}"><i class="cart"></i><p>购物车</p></a>
		<a class="" href="{:url('member/index')}"><i class="mine"></i><p>我的</p></a>
	</div>


<!-- style="background-color:#">
	<ul class="table">
		<li>
			<a href="{:U('Index/index')}">
			<i class="icon-m icon-m1"></i>
			<p>首页</p>
			</a>
		</li>
		<li>
			<a href="{:U('Category/index')}">
			<i class="icon-m icon-m2"></i>
			<p>分类</p>
			</a>
		</li>
		<li>
			<a href="{:U('cart/index')}">
			<i class="icon-m icon-m3 cart-num"><i>{$Cartnum|default='0'}</i></i>
			<p >购物车</p>
			</a>
		</li>
		<li>
			<a href="{:U('member/index')}">
			<i class="icon-m icon-m4"></i>
			<p>我的订单</p>
			</a>
		</li>
	</ul>
</menu>
   <!-- footer 底部菜单 -->
    <!--footer>
    	<a href="{:url('index/index')}" class="active">
    		<i class="icon home"></i>
    		首页
    	</a>
    	<a href="{:url('category/index')}">
    		<i class="icon category"></i>
    		分类
    	</a>
    	<a href="{:url('cart/index')}">
    		<i class="icon cart"></i>
    		购物车
    	</a>
    	<a href="{:url('member/index')}">
    		<i class="icon user"></i>
    		我
    	</a>
    </footer>
	