<div class="H5"></div>
	<div class="bottom-menu order-bottom-menu">
		<a class="active"style="color:#F8515B" href="{:url('index/index')}"><i style="background-color:#F8515B" class="home"></i><p>首页</p></a>
		<a class="" href="{:url('category/index')}"><i class="category"></i><p>分类</p></a>
		<a class="" href="{:url('cart/index')}"><i class="cart"></i><p>购物车</p></a>
		<a class="" href="{:url('member/index')}"><i class="mine"></i><p>我的</p></a>
	</div>
<style>

.nav_in .sidebar_div .title h2 {
    background: #FF0000;
}
.logo_in .head-search-bar .search-form {
    background: #FF0000}
.logo_in .cart_num {
   background: #FF0000}
.gm_in .gm_in_right .gm_tools.active {
    background: #FF0000;
}
.gm_in .gm_in_right  .gm_tools.active {
    background: #FF0000;
}
.in_storage.gm_selected {
    color: #FF0000;
}
.index_main_in .common_list .top a.active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid #FF0000;
    height: 29px;
    line-height: 29px;
    border-top: 3px solid #FF0000;;
    border-bottom: 1px solid #fff;
}
.index_main_in .common_list .top {
    height: 35px;
    line-height: 35px;
    margin: 5px 0;
    overflow: visible;
    clear: both;
    border-bottom: 1px solid #FF0000;
}
.footer_in .footer_title ul li .left_icon {
    display: inline-block;
    width: 39px;
    height: 39px;
    border: 3px solid #FF0000;
    border-radius: 50%;
    color: #FF0000;
    font-size: 21px;
    text-align: center;
    line-height: 42px;
    float: left;
}
.nav_in .sidebar_div .title h2 {
    width: 202px;
    height: 40px;
    line-height: 40px;
    background: #FF0000;
    color: #fff;
    padding: 0 0 0 13px;
    cursor: pointer;
}
.cate .cate_in .category_item_title {
    height: 32px;
    line-height: 32px;
    text-indent: 4px;
    width: 93px;
    color:#999;
}
.gm_in .gm_in_left .jxsp_item .jxsp_price {
    width: 190px;
    margin-left: 9px;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    color: #FF0000;
}
.gl_item .gl_item_price {
    width: 228px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    margin-left: 7px;
    color: #FF0000;
}
.cate .cate_in .category_item_list li a.checked {
   color: #FF0000;
}
.category_more:hover .cm_wrap {
    color: #FF0000;
    border-color:#FF0000;
    border-top: 1px solid #ffffff;
    position: relative;
    top: -1px;
}
.category_more:hover {
    border-top: 1px solid #FF0000;
}
.grzx_main_in .shdz_right_pan #top_search_form .ipts .save {
    margin: 0 0 25px 103px;
    width: 75px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background:#FF0000;
    color: #fff;
    
}
.grzx_main_in .shdz_right_pan .table_div .addr_table .table_list {
    color: #333333;
    width: 100%;
    border-bottom: 1px solid #cccccc;
    height: 30px;
    cursor: pointer;
}
.grzx_main_in .shdz_right_pan .table_div .addr_table .table_list.current .td_07 a {
    color: #fff;
    background: #FF0000;
}
.grzx_main_in .shdz_right_pan .table_div .addr_table .table_list .td_07 a{
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 0px;
    background: #fff;
}
.grzx_main_in .sppj_right_pan .top_tab ul li.current a {
    color: #FF0000;
}
.grzx_main_in .sppj_right_pan .top_tab ul li a span {
     color: #FF0000;
}
.grzx_main_in .sppj_right_pan .top_tab ul li.current {
    border-bottom: 2px solid #FF0000;
}
.nav_in .nav_list li.current a {
    color: #FF0000;
}
.page .active {
    border: 1px solid #FF0000;
    background: #FF0000;
}
.grzx_main_in .wddd_right_pan .top_tab ul li.current {
    border-bottom: 2px solid  #FF0000;
}
.grzx_main_in .wddd_right_pan .top_tab ul li.current a {
    color: #FF0000;
}
.grzx_main_in .wddd_right_pan .tab_con .sc_xl .sc_btn {
    margin: 0 0 16px 0;
    background-color: #FF0000;
    color: #fff;
    border: 1px solid #e8303f;
    display: inline-block;
    border: none;
    height: 28px;
    line-height: 26px;
    padding: 0 12px;
    cursor: pointer;
    text-decoration: none;
}
.gl_item:hover{
	border:2px solid #FF0000;
}
.spxq_main .spxq_main_in .top_div .pro_info .price .price_div .num_02 .span_r {
    color: #FF0000;
    font-size: 30px;
}
.spxq_main .spxq_main_in .top_div .pro_info .caizhi .sel_ul li.current {
    border: 2px solid #FF0000;
}
.cate .cate_in .category_item_list li a:hover{

	
    color:#FF0000;
	
}
.spxq_main .spxq_main_in .top_div .pro_info .caizhi .sel_ul li.current .icon {
    display: block;
    border-right: 6px solid #FF0000;
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border-top:6px solid transparent;
}
.nav {
    

}
</style>


<!-- style="background-color:#">
	<ul class="table">
		<li>
			<a href="{:U('Index/index')}">
			<i class="icon-m icon-m1"></i>
			<p>首页</p>
			</a>
		</li>
		<li>
			<a href="{:U('Category/index')}">
			<i class="icon-m icon-m2"></i>
			<p>分类</p>
			</a>
		</li>
		<li>
			<a href="{:U('cart/index')}">
			<i class="icon-m icon-m3 cart-num"><i>{$Cartnum|default='0'}</i></i>
			<p >购物车</p>
			</a>
		</li>
		<li>
			<a href="{:U('member/index')}">
			<i class="icon-m icon-m4"></i>
			<p>我的订单</p>
			</a>
		</li>
	</ul>
</menu>
   <!-- footer 底部菜单 -->
    <!--footer>
    	<a href="{:url('index/index')}" class="active">
    		<i class="icon home"></i>
    		首页
    	</a>
    	<a href="{:url('category/index')}">
    		<i class="icon category"></i>
    		分类
    	</a>
    	<a href="{:url('cart/index')}">
    		<i class="icon cart"></i>
    		购物车
    	</a>
    	<a href="{:url('member/index')}">
    		<i class="icon user"></i>
    		我
    	</a>
    </footer>
	