<div class="bot_nav bot_nav01">
			<ul>
				<li>
					<div class="boot_nav_i boot_nav_i01">
						<a href="{:url('index/index')}"><i></i><span>首页</span></a>
					</div>
				</li>
				<li>
					<div class="boot_nav_i boot_nav_i02">
						<a href="{:url('category/index')}"><i></i><span>分类</span></a>
					</div>
				</li>
				
				<li>
					<div class="boot_nav_i boot_nav_i04">
						<a href="{:url('cart/index')}"><i></i><span>购物车</span></a>
					</div>
				</li>
				<li>
					<div class="boot_nav_i boot_nav_i05">
						<a href="{:url('member/index')}"><i></i><span>我的</span></a>
					</div>
				</li>
			</ul>
		</div>
	   <script type="text/javascript">	
	       $("div#h_ser").click(function() {
					$(".bot_nav").toggle();
		   });
	   </script>